* {
    font-family: 'Nunito', sans-serif;
}

/* Home page */

.home {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/chicago.jpg');
    background-position: center top;
    height: 720px;
    color: white;
}

a, .cntc {
    color: white
}

#more {
  width: 25%;
}

.conbtn {
  padding: 20px;
  width: 100px
}

div.brow {
  display: hidden
}

#lmore {
  padding-top: 20%
}

.hello {
    margin-top: 15%;
    font-size: 28px;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 28px;
    color: white;
    display: inline-block;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    float: none;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }

/* About Me Page */

.info, .portfolio, .contact {
    width: 100%;
    height: 720px;
}

.about {
    text-align: center;
    margin-top: 30%;
}

#profpic {
    height: 400px;
    width: 400px;
    margin-top: 25%;
}

/* Portfolio Page */

.portfolio {
  background-color: #f2f2f2;
}

.ghlink {
    color: blue
}

.port {
    padding-top: 10%;
    text-align: center
}

.pcent {
    text-align: center
}

/* Contact Form */

.contact {
  background: url('../images/office.jpg');
}

.sbmt {
    width:100%
}

.conbtn {
    padding: 20px;
    width: 100px
}

.fa {
  height: 50%;
  width: 50%;
}
