h1, h2 {
    text-align: center;
}

#gray {
    background-color: #e6e6e6;

}

p {
    padding: 25px;
}

footer {
    padding: 20px;
    clear: both;
    text-align: center;
    background-color: #e6e6e6;
}

.card {
    padding: 20px;
    margin: 60px;
	float:left;
}